button {
  margin: 10px auto;
  padding: 5px 10px;
  border: none;
  font-size: 1em;
  background-color: #e5f2f2;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #cff2f2;
}

button[type="reset"] {
  background-color: #fbfbc9;
}

button[type="reset"]:hover {
  background-color: #eaea9d;
}

.msg {
  margin-top: 10px;
  padding: 10px;
  background-color: #f7f7f7;
  border-left: solid 5px #d7d7d7;
}
.msg--alert {
  background-color: #fdd;
  border-left-color: #fbb;
}
.msg--success {
  background-color: #dfd;
  border-left: #bfb;
}

.input-field {
  display: flex;
  flex-direction: column;
}

.input {
  width: 250px;
}

.input--textarea {
  resize: none;
  padding: 10px;
  height: 120px;
  border: solid 1px #e7e7e7;
}

.result-table {
  margin-top: 20px;
}

.msg, .result-table {
  opacity: 0;
  
  animation: fadeIn .2s ease-in forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}